In [1]:
import pandas as pd

# Step 1: Read CSV file

In [2]:
# read /dataset/pima-indians-diabetes.csv
df = pd.read_csv('./dataset/pima-indians-diabetes.csv')

# Step 2: Print the first 5 row

In [3]:
print(df.head(5))

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

# Step 3: Print only 'bmi' column

In [4]:
print(df['bmi'])

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: bmi, Length: 768, dtype: float64

# Step 4: Print number of row in this dataset

In [12]:
print(len(df['bmi']))
print(df.shape[0])

768
768

# Step 5: Print the name of all the columns

In [13]:
df.column

AttributeError: 'DataFrame' object has no attribute 'column'

# Step 6: Print 13th bmi

27.1

# Step 7: Print bmi in 3th row

23.3

# Step 8: Print bmi >=30 (show only first five column)

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
4         0      137  40    35      168  43.1     2.288   33      1
6         3       78  50    32       88  31.0     0.248   26      1
7        10      115   0     0        0  35.3     0.134   29      0
8         2      197  70    45      543  30.5     0.158   53      1

# Step 9: Calculate mean of age

In [15]:
df['age'].mean()

33.240885416666664

# Step 10: Create a new column call "magic_number" and each row of magic number equal bmi plus age

In [16]:
df['magic_number'] = df['bmi'] + df['age']

In [17]:
df.head()

,pregnant,glucose,bp,skin,insulin,bmi,pedigree,age,label,magic_number
0,6,148,72,35,0,33.6,0.627,50,1,83.6
1,1,85,66,29,0,26.6,0.351,31,0,57.6
2,8,183,64,0,0,23.3,0.672,32,1,55.3
3,1,89,66,23,94,28.1,0.167,21,0,49.1
4,0,137,40,35,168,43.1,2.288,33,1,76.1